// app global css in SCSS form

// Declare font
@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'customfont';
  src: url('./fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Apply font globally
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'customfont', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.my-font {
  font-family: 'customfont', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: $accent;
  }
}

.no-underline {
  text-decoration: none;
}
